* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

:root{
    --color-blue: #0173c0;
    --color-green-lemon: #67ce00;
    --color-green-origin: #00c0ce;
    --color-grey: #4a4a4a;
    --color-orange: #f77031;
    --color-purple: #9527c0;

}


.container {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.image-showcase {
    width: 20rem;
    height: 20rem;
}

.image-showcase img {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.content-box {
    width: 30%;
    height: auto;
}

.text {
    width: 70%;
    height: 70%;
}

.price-subtitle {
    display: flex;
}

.price {
    margin-left: 1rem;
}

.color-select button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
}

.blue{
    border: 0;
    background-color: var(--color-blue);
}

.green-lemon {
    border: 0;
    background-color: var(--color-green-lemon);
}

.green-origin {
    border: 0;
    background-color: var(--color-green-origin);
}

.grey {
    border: 0;
    background-color: var(--color-grey);
}

.orange {
    border: 0;
    background-color: var(--color-orange);
}

.purple {
    border: 0;
    background-color: var(--color-purple);
}   