* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

:root{
    --color-blue: #0173c0;
    --color-green-lemon: #67ce00;
    --color-green-origin: #00c0ce;
    --color-grey: #4a4a4a;
    --color-orange: #e95c1b;
    --color-purple: #9527c0;

    --background-blue: linear-gradient(90deg, rgba(180,204,255,1) 0%, rgba(78,107,167,1) 100%);
    --background-green-lemon: linear-gradient(90deg, rgba(213,246,195,1) 0%, rgba(103,206,0,1) 100%);
    --background-green-origin: linear-gradient(90deg, rgba(167,250,247,1) 0%, rgb(2, 176, 189) 100%);
    --background-grey: linear-gradient(90deg, rgba(180,180,180,1) 0%, rgba(74,74,74,1) 100%);
    --background-orange: linear-gradient(90deg, rgba(255,233,233,1) 0%, rgba(206,91,75,1) 100%);
    --background-purple: linear-gradient(90deg, rgba(217,209,255,1) 0%, rgba(80,60,171,1) 100%);
}

.container {
    background: var(--background-green-origin);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.image-showcase {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-showcase img {
    width: 20rem;
    height: 20rem;
    padding: 1.5rem;
}

.img-showcase.shake {
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(3deg) scale(0.98);
    }
    50% {
      transform: rotate(0deg) scale(1);
    }
    75% {
      transform: rotate(-3deg) scale(0.98);
    }
    100% {
      transform: rotate(0deg) scale(1);
    }
}

.content-box {
    width: 30%;
    height: 100%;
}

.text {
    width: 100%;
    line-height: 1.4rem;
}

.price-subtitle {
    display: flex;
}

.price {
    margin-left: 1rem;
    background-color:white;
    font-weight: bold;
    padding: 0.1rem;
    border-radius: 0.2rem;
}

.descont {
    font-weight: bold;
}

.descont s {
    color: red;
    font-weight: bold;
}

.color-select button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.2rem;
    margin-top: 1rem;
    padding: 1rem;
}

.blue{
    border: 0;
    background-color: var(--color-blue);
}

.green-lemon {
    border: 0;
    background-color: var(--color-green-lemon);
}

.green-origin {
    border: 0;
    background-color: var(--color-green-origin);
}

.grey {
    border: 0;
    background-color: var(--color-grey);
}

.orange {
    border: 0;
    background-color: var(--color-orange);
}

.purple {
    border: 0;
    background-color: var(--color-purple);
} 


.buy {
    margin-top: 1rem;
    padding: 0.5rem;
    width: 30%;
    height: 20%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    background-color: transparent;
}

.buy:hover {
    background-color: #ffffff;
    border: 0;
}

@media screen and (max-width: 820px) {
    .container {
        height: 100vh;
        padding: 1.5rem;
    }

    .image-showcase img {
        width: 50%;
        height: auto;
        padding: 1rem;
    }

    .content-box {
        width: 100%;
    }

    .buy {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        height: 100vh;
        padding: 2rem;
    }

    .image-showcase img{
        width: 50%;
        height: 100%;
        padding: 0.5rem;
    }

    .content-box {
        width: 100%;
    }

    .buy {
        width: 100%;
    }
}

/* Estilos para telas pequenas */
@media screen and (max-width: 480px) {
    .container {
        height: 100vh;
    }

    .image-showcase {
        display: block;
        padding: 0.5rem;
    }

    .image-showcase img {
        width: 20rem;
    }

    .text {
        line-height: 1.2rem;
    }
}
@media screen and (max-width: 420px) {
    .container {
        height: 100vh;
    }

    .image-showcase {
        display: block;
        padding: 0.5rem;
    }

    .text {
        line-height: 1.2rem;
    }
}

@media screen and (max-width: 380px) {
    .container {
        height: 100%;
    }

    .image-showcase img{
        display: block;
        width: 15rem;
    }

    .text {
        line-height: 1.2rem;
    }

    .content-box {
        width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }

    .price-box {
        font-size: 0.99rem;
    }

}